.todo-list-component {
	width: 50%;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0rem;
}

.list-box {
	width: 45%;
	margin: 0rem 1rem;
	padding: 0.7rem;
}

.list-box > h3 {
	font-size: 0.8em;
	color: var(--main-color);
	margin: 0.5rem 0rem;
}

#todo-form {
	display: flex;
}

.todo-form__textarea {
	width: 100%;
	box-sizing: border-box;
	border-radius: 15px 0px 0px 15px;
	padding: 10px;
	resize: none;
	transition: 0.4s;
}

.todo-form__textarea:focus {
	outline: 2px solid var(--main-color);
}
