.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0.5rem 1rem;

	font-size: 0.8rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;

	display: inline-block;
	width: auto;
	border: none;
	border-radius: 4px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	cursor: pointer;
	transition: 0.5s;
	background: var(--button-bg-color);
	color: var(--button-color);
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
.button-success {
	--button-bg-color: #28a745;
	--button-hover-bg-color: #218838;
}

.button-delete {
	margin-left: 0.5rem;
	--button-bg-color: #dc3545;
	--button-hover-bg-color: #c82333;
}