#main-header {
	background-color: rgba(0, 0, 0, 0.15);
	width: var(--main-box-width);
	height: 7rem;
	box-sizing: border-box;
	margin: 2% auto;
	border-radius: 15px;
	border: 1px solid white;
	box-shadow:0 4px 2px -2px gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem;
}

.header--column {
	display: flex;
}

.header--column:first-child {
	flex-direction: column;
}

.header--column:last-child {
	align-items: center;
}

#main-id {
	font-weight: 900;
	font-size: 1.5em;
	color: var(--header-font-color);
    text-shadow: var(--main-text-shadow);
}

#main-promise {
	font-weight: 900;
	color: var(--header-font-color);
    text-shadow: var(--main-text-shadow);
}

#clock {
	margin-right: 15px;
	font-size: 1.1em;
	font-weight: 900;
	color: var(--header-font-color);
    text-shadow: var(--main-text-shadow);
}


#date {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
}