#login-form {
	width: 30rem;
	height: 30rem;
	background-color: var(--main-background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
}

#login-form > h1 {
	margin: 5rem 0px;
	color: var(--main-color);
	font-weight: 1000;
}

#login-form > input[type="text"] {
	width: 20rem;
	font-size: 1em;
	padding: 0.8rem 1rem;
	margin-bottom: 15px;
	border: none;
	outline: none;
	color: none;
	background-color: rgb(229, 225, 225);
	color: var(--main-color);
	transition: 0.4s;
}

#login-form > input:focus {
	border: 2px solid var(--main-color);
}

#login-form > input[type="submit"] {
	border-radius: 15px;
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	color: white;
	width: 10rem;
	height: 3rem;
	cursor: pointer;
}

#greeting {
	font-weight: 900;
	color: white;
}

.hidden {
	display: none !important;
}