:root {
	--main-color: rgb(181, 121, 121);
	--main-background-color: rgb(244, 236, 236);
	--main-box-width: 95%;
	--main-text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	--main-box-shadow: 0 4px 2px -2px gray;
	--main-border: 2px solid var(--main-color);
	--header-font-color: white;
	--header-outline-color: rgb(64, 61, 62);
}
